body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.header-cont {
  border-bottom: 1px solid #e7e9fc;
  width: 100%;
  height: 72px;
  background: #fff;
  display: flex;
}

.header-cont nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-s {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-sp {
  color: #f4f4fd;
}

.header-list {
  display: flex;
}

.header-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list-item:hover {
  color: #404bbf;
}

.header-list-item:focus {
  color: #404bbf;
}

.address-cont {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.address-cont ul {
  display: flex;
}

.address-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item:hover {
  color: #404bbf;
}

.address-item:focus {
  color: #404bbf;
}

.main-page-cont {
  background-color: #2e2f42;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
}

.main-page-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  cursor: pointer;
}

.main-page-button:hover {
  background-color: #404bbf;
}

.main-page-button:focus {
  background-color: #404bbf;
}

.solut-list-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.solut-list-item-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-cont {
  background-color: #f4f4fd;
  box-sizing: border-box;
  display: flex;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  position: relative;
}

.team-list {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.team-list-item {
  background-color: #ffffff;
  align-items: center;
}

.team-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.port-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.port-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-item-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-cont {
  background-color: #2e2f42;
}

.footer-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
